<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello Spring Boot</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>サンプルアプリケーションバージョン3</h1>

<div style="margin-top:50px;display:none;">
    環境変数 ENV_TEST=
    <apan th:text="${ENV_TEST}"></apan>
    <br/>
    環境変数 ENV_TEST-default=
    <apan th:text="${ENV_TEST_DEFAULT}"></apan>
</div>

<div style="margin-top:50px;">
    <a href="/bookcatalog/list">書籍管理サンプルアプリ</a>
</div>

</body>
</html>