<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Hello Spring Boot</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>サンプルアプリケーションバージョン3</h1>

<div style="margin-top:50px;">
  環境変数 ENV_TEST=<apan th:text="${ENV_TEST}"></apan><br />
  環境変数 ENV_TEST-default=<apan th:text="${ENV_TEST_DEFAULT}"></apan><br />
  環境変数 ENV_TEST-v2=<apan th:text="${ENV_TEST_V2}"></apan><br />
</div>

<div style="margin-top:50px;">
  <a href="/bookcatalog/list">書籍管理サンプルアプリ</a>
</div>

</body>
</html>