<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <title>書籍編集</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <style>
        .error-msg {
            color: red;
        }

        .navi {
            margin-top: 30px;
        }
    </style>
</head>
<body>
<h1>書籍編集</h1>

<div id="editorForm">

    <form method="POST" th:object="${bookEditForm}">
        <div>
            <label for="title">書籍名：</label>
            <input id="title" th:field="*{title}" type="text"/>
            <p class="error-msg" th:errors="*{title}">エラーメッセージ</p>
        </div>
        <div>
            <label for="isbn">ISBN：</label>
            <input id="isbn" th:field="*{isbn}" type="text"/>
            <p class="error-msg" th:errors="*{isbn}">エラーメッセージ</p>
        </div>
        <div>
            <label for="pages">ページ数：</label>
            <input id="pages" th:field="*{pages}" type="number"/>
            <p class="error-msg" th:errors="*{pages}">エラーメッセージ</p>
        </div>
        <p>
            <input type="hidden" th:field="*{id}"/>
            <input type="submit" value="保存"/>
        </p>
    </form>

</div>

<div id="navi" class="navi" style="margin-top:30px;">
    <a th:href="@{/bookcatalog/list}">戻る</a>
</div>

</body>
</html>