<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <title>書籍カタログ</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <style>
        table {
            text-align: left;
        }

        th, td {
            border-style: solid;
            border-width: 1px;
        }
    </style>
</head>
<body>
<h1>書籍一覧</h1>

<div id="itemList">

    <table style="text-align: left;">
        <tr>
            <th>ID</th>
            <th>書籍名</th>
            <th>ISBN</th>
            <th>ページ数</th>
            <th></th>
        </tr>
        <tr th:each="record: *{bookList.books}">
            <td th:text="${record.bookId}"></td>
            <td th:text="${record.title}"></td>
            <td th:text="${record.isbn}"></td>
            <td th:text="${record.pages}"></td>
            <td><a th:href="@{/bookcatalog/editor(id=${record.bookId})}">編集</a></td>
        </tr>
    </table>
</div>

<div id="navi" style="margin-top:30px;">
    <a th:href="@{/bookcatalog/register}">新規登録</a>
</div>

</body>
</html>