<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <title>書籍新規登録</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <style>
        .error-msg {
            color: red;
        }
    </style>
</head>
<body>
<h1>書籍新規登録</h1>

<div id="registerForm">

    <form method="POST" th:object="${bookRegisterForm}">
        <div>
            <label for="title">書籍名：</label>
            <input id="title" name="title" th:value="*{title.value}" type="text"/>
            <p class="error-msg" th:errors="*{title.value}">エラーメッセージ</p>
        </div>
        <div>
            <label for="isbn">ISBN：</label>
            <input id="isbn" name="isbn" th:value="*{isbn.value}" type="text"/>
            <p class="error-msg" th:errors="*{isbn.value}">エラーメッセージ</p>
        </div>
        <div>
            <label for="pages">ページ数：</label>
            <input id="pages" name="pages" th:value="*{pages.value}" type="number"/>
            <p class="error-msg" th:errors="*{pages.value}">エラーメッセージ</p>
        </div>
        <div>
            <input type="submit" value="登録"/>
        </div>
    </form>

</div>

<div id="navi" style="margin-top:30px;">
    <a th:href="@{/bookcatalog/list}">戻る</a>
</div>

</body>
</html>