# Eclipse
.classpath
.project
.settings/
bin/

# Intellij
.idea
*.iml
*.iws

# Mac
.DS_Store

.
# gradle
.gradle
build

# vscode
.vscode

# fakesmtp
tools/received-emails/

database.mv.db
database.trace.db