<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="example.web.infrastructure.datasource.example.ExampleMapper">
    <resultMap id="Example" type="example.web.infrastructure.model.example.Example">
        <id property="id" column="id"/>
    </resultMap>

    <select id="findOne" resultMap="Example">
        SELECT
            id
        FROM example.example
        LIMIT 1
    </select>
</mapper>
