<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="example.web.infrastructure.datasource.bookcatalog.BookCatalogMapper">
    <resultMap id="BookDto" type="example.web.infrastructure.datasource.bookcatalog.dto.BookDto" />

    <sql id="selectBase">
        SELECT books.id AS bookId
             , books_revision.revision
             , title
             , isbn
             , pages
        FROM bookcatalog.books
                 INNER JOIN bookcatalog.books_revision_latest ON books_revision_latest.book_id = books.id
                 INNER JOIN bookcatalog.books_revision ON books_revision.revision = books_revision_latest.revision
    </sql>

    <select id="findAll" resultMap="BookDto">
        <include refid="selectBase"/>
        ORDER BY id
    </select>

    <select id="findById" resultMap="BookDto">
        <include refid="selectBase"/>
        WHERE id = #{value}
    </select>

    <select id="findByName" resultMap="BookDto">
        <include refid="selectBase"/>
        WHERE title = #{value}
    </select>

    <select id="nextId" resultType="Long">
        SELECT nextval('bookcatalog.seq_book_id') AS id
    </select>

    <select id="nextRevision" resultType="Long">
        SELECT nextval('bookcatalog.seq_book_revision') AS revision
    </select>

    <insert id="insertBook">
        INSERT INTO bookcatalog.books(id)
        VALUES (#{bookId})
    </insert>

    <insert id="insertRevision">
        INSERT INTO bookcatalog.books_revision(revision, book_id, title, isbn, pages)
        VALUES (#{revision},
                #{bookId},
                #{title},
                #{isbn},
                #{pages})
    </insert>

    <delete id="deleteRevisionLatest">
        DELETE
        FROM bookcatalog.books_revision_latest
        WHERE book_id = #{bookId}
    </delete>

    <insert id="insertRevisionLatest">
        INSERT INTO bookcatalog.books_revision_latest(book_id, revision)
        VALUES (#{bookId},
                #{revision})
    </insert>
</mapper>
